<div class="comments-show">

  <h5 class="comment-call">
    <b><%= comment.commenter.capitalize %></b> scrive:
  </h5>

  <p class="comment-text">
    <%= comment.body %>
  </p>

  <p>
    Reply
  </p>

  <%= render partial: 'comments/comment', collection: comment.comments %>

  <div class="comment-form">
    <h4>Reply :</h4>
    <%= form_for([@article, comment, comment.comments.build]) do |f| %>
      <p>
        <%= f.label :commenter %><br>
        <%= f.text_field :commenter %>
      </p>
      <p>
        <%= f.label :body %><br>
        <%= f.text_area :body %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>
  </div>
  
</div>
