<h1>
  <%= @article.title %>
</h1>

<p>
  Creato il:
  <%= @article.formatted_date %>
</p>

<p>
  <%= image_tag @article.image(:medium) %>
</p>
 
<p>
  <%= @article.text %>
</p>

<%= link_to 'Back', articles_path %> |
<%= link_to 'Edit', edit_article_path(@article) %>

<h2>Best comments</h2>
<%= render partial: 'comments/best_comment', collection: @article.best_comments %>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment to the article:</h2>
<%= render 'comments/form' %>
