<div class="article-show">
  <h1 class="article-title">
    <%= @article.title %>
  </h1>

  <p class="article-create">
    Creato il:
    <%= @article.formatted_date %>
  </p>

  <p class="article-image">
    <%= image_tag @article.image(:medium) %>
  </p>
   
  <p class="article-text">
    <%= @article.text %>
  </p>
</div>

<div class="article-comments">
  <h2 class="comments-title">Comments</h2>
  <%= render @article.comments %>

  <h2>Add a comment to the article:</h2>
  <%= render 'comments/form' %>
</div>


